nav a {color: #7050d9;}
nav a:hover {color: #6763e0;}
nav a:hover {background-color: #77c6e6;}
.even {color:blueviolet}
nav {background-color: #e0ffb5;
    padding: #a2f2bc;
    border:2px solid #413e3e;
    margin-bottom: 30px}


