/* General Styles */
body {
    background-color: A2AAAD; /* Set your desired background color here */
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: 'Roboto', sans-serif;
}

/* Navigation Bar Styles */
.navbar {
    overflow: hidden;
    background-color: #b3c7f5; /* Navbar background color */
    display: flex;
}

.navbar a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 0px;
    text-decoration: none;
    margin: 0 10%;
    flex: 1;
    font-family: Arial, Helvetica, sans-serif, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 600; /* Semi-bold */
    font-size: 24px; /* Adjust the size as needed */
}

.navbar a:hover {
    background-color: #ddd; /* Lighter shade for hover */
    color: #555; /* Darker text color for contrast */
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column; /* Stacks the links vertically */
    }
    .navbar a {
        margin: 0; /* Adjusts margin for stacked layout */
        text-align: left; /* Optional: Aligns text to the left */
    }

}
/* Main Image Styles */

.main-image img {
    width: 100%; /* Adjust based on your layout */
    transition: opacity 2s ease-in-out;
    margin: 20px auto; /* Add top and bottom margin, center horizontally */
    height: auto; /* Let height be automatic to maintain aspect ratio */
    justify-content: center;
}
.main-image img { display: block; 
}

.zmain-image {
    display: flex; /* Enables flexbox layout */
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically if the container has a specified height */
    width: 100%; /* Adjust based on your layout */
    height: 100vh; /* Example height; adjust as needed to see vertical centering */
}

.zmain-image img {
    width: 70%; /* Adjust based on your layout */
    transition: opacity 2s ease-in-out;
    opacity: 0; /* Initially hidden, will be shown via JavaScript */
}

.zmain-image img.fade-in {
    opacity: 1; /* Fully visible when the 'fade-in' class is added */
}

/* Flex Item Styles */
.flex-item {
    display: flex;
    flex-direction: row; /* Layout items horizontally */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Align items vertically */
    gap: 20px; /* Add some space between the image and the text */
    width: 100%; /* Ensure it takes the full width of its parent */
}

/* Image Styles */
.image {
    width: 150px; /* Adjust based on your image size */
    height: auto;
    margin-right: 20px; /* Adds space between the image and the text */
}

/* Text Styles */
.text {
    flex-grow: 1; /* Allows the text block to fill the remaining space */
    font-size: 2vw;
}

/* Image Container Styles */
.image-container {
    display: flex;
    justify-content: space-between; /* Distributes space between and around items */
    
}

.image-item {
    flex-basis: calc(33% - 20px); /* Allocates equal width to each item, adjusting for margin */
    text-align: center; /* Centers the text below the image */
}

.image-item img {
    width: 100%; /* Makes the image fill the container */
    height: auto; /* Maintains aspect ratio */
}

.image-item p {
    margin-top: 10px; /* Adds space between the image and its description */
}


.twocontainer {
    display: flex;
    background-color: #fcedef;
    margin: 10px; /* Adds space around the outside of the container */
    padding: 40px; /* Adds space inside the container, around its content */
}


/* Existing styles can remain as they are */
/* Default styles for desktop view */
.onecontainer {
    display: flex;
    background-color: #d4effa; /* Light blue background */
    margin: 10px; /* Adds space around the outside of the container */
    padding: 40px; /* Adds space inside the container, around its content */
}

/* Additional styles for other elements here */
.oneimage{
    width: 45%; height: auto;
}

@media (max-width: 768px) {
    .onecontainer, .flex-item {
        flex-direction: column; /* Stack items vertically on smaller screens */
        margin-top: -10px;
    }
    .oneimage {
        width: 100%; /* Make the image larger on smaller screens */
    
    }
    .text {
        text-align: center; 
    }
    
    
    
}



/* Roboto Font Styles - Condensed */
.roboto-thin, .roboto-light, .roboto-regular, .roboto-medium, .roboto-bold, .roboto-black,
.roboto-thin-italic, .roboto-light-italic, .roboto-regular-italic, .roboto-medium-italic, .roboto-bold-italic, .roboto-black-italic {
    font-family: "Roboto", sans-serif;
}

.roboto-thin, .roboto-thin-italic { font-weight: 100; }
.roboto-light, .roboto-light-italic { font-weight: 300; }
.roboto-regular, .roboto-regular-italic { font-weight: 400; }
.roboto-medium, .roboto-medium-italic { font-weight: 500; }
.roboto-bold, .roboto-bold-italic { font-weight: 700; }
.roboto-black, .roboto-black-italic { font-weight: 900; }
.roboto-thin-italic, .roboto-light-italic, .roboto-regular-italic, .roboto-medium-italic, .roboto-bold-italic, .roboto-black-italic { font-style: italic; }

.bimage-container {
    display: flex;
    justify-content: space-between; /* Adjusts spacing between items */
    align-items: center; /* Aligns items vertically */
    flex-wrap: wrap; /* Allows items to wrap if the screen is too small */
    background-color: #fcf6e3;


}

.bimage-item {
    width: 30%; /* Sets the width of each item to 30% of the .aimage-container width */
    display: flex; /* Enables flexbox layout within each .aimage-item */
    flex-direction: column; /* Stacks the image and description vertically */
    align-items: center; /* Centers the items horizontally */
    text-align: center; /* Centers the text within the description */
}

.bimage-item img {
    width: 90%; /* Makes the image fill the width of its .aimage-item container */
    height: auto; /* Maintains the aspect ratio of the image */
    align-items: center;
}




.bimage-item {
    width: 90%; /* Default to full width on smaller screens for a stacked appearance */
    /* Other styling for .bimage-item */
    align-items: center; /* Aligns items vertically */
    flex-wrap: wrap; /* Allows items to wrap if the screen is too small */
    padding: 5px; /* Adds space inside the borders of .bimage-container */
    margin: 5px; /* Adds space outside the borders of .bimage-container */
    justify-content: center; /* Centers children horizontally */
}


/* Media query for desktop view */
@media (min-width: 768px) {
    .bimage-container {
        flex-direction: row; /* Stacks items vertically in the container */
    }
    .bimage-item {
        width: 29%; /* Increases width for desktop view, but they will still stack due to container's flex-direction */
        /* No need to adjust flex-direction for individual items here */
    }
}

.container {
    width: 100%; /* Full width of the viewport */
    display: flex;
    justify-content: center; /* Center the cover container */
    align-items: center; /* Vertically align */
    height: 100vh; /* Full viewport height */
}

.cover-container {
    display: flex; /* Enables flexbox layout */
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    width: 90%; /* Takes up 90% of the container's width */
    max-width: 1200px; /* Maximum width to ensure content is not too stretched */
}
.content-container {
    display: flex;
    align-items: flex-start; /* Aligns the items at the start of the container */
    background-color: lightgrey; /* Sets the background color to light grey */
    padding: 20px; /* Adds padding around the container */
}


.acontent-container {
    display: flex; /* Enables flexbox layout */
    background-color: #f8f3e8; /* Sets the background color to grey */
    align-items: center;
}

.amain-image {
    flex: 1; /* Allows the image container to take half the space */
    text-align: center; /* Centers the image if it's smaller than the container */
}

.amain-image img {
    width: 100%; /* Makes the image fully occupy the container width */
    height: auto; /* Maintains the image aspect ratio */
}

.acontent-container p {
    flex: 1; /* Allows the text to take the other half of the space */
    padding: 12px; /* Adds some padding around the text for better readability */
    display: flex; /* Enables flexbox layout for the text container */
    align-items: center; /* Centers the text vertically */
    text-align: justify; /* Justifies the text for better readability */
    justify-content: center; /* Centers the text container's content horizontally */
    flex-direction: row; /* Aligns the content vertically */
    
    font-size: 2vw;
}

.text-container {
    flex: 1; /* Allows the text container to take the other half of the space */
    padding: 20px; /* Adds some padding around the text for better readability */
    display: flex; /* Enables flexbox layout for the text container */
    align-items: center; /* Centers the text vertically */
    justify-content: center; /* Centers the text container's content */
    flex-direction: column; /* Aligns the content vertically */
    text-align: center; /* Centers the text */
}
@media (max-width: 768px) {
    .acontent-container {
        flex-direction: column; /* Stacks the image and text vertically */
    }
    .acontent-container p {
        font-size: 3vw;
    }
}
/* Basic styling for the flex container */
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

/* Styling for each flex item */
.flex-item {
    display: flex;
    align-items: center;
    margin: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Optional: Adds a shadow for better visibility */
    background-color: #d7d7f5;
}

/* Image styling */
.image {
    width: 30%; /* Adjust based on your preference */
    height: auto;
    margin-right: 10px; /* Space between image and text */
}

/* Text block styling */
.text {
    flex: 1; /* Allows the text block to fill the remaining space */
}

/* Media query for mobile devices */
@media (max-width: 600px) {
    .flex-item {
        flex-direction: column; /* Stacks the image and text vertically */
    }

    .image {
        margin: 0 auto 50px; /* Centers the image and adds space below */
        width: 50%;
        height: auto;
    }
}
.dcontainer {
    display: flex;
    flex-wrap: wrap;
}

.dflex-item {
    width: 50%; /* Two items per row */
    box-sizing: border-box; /* Include padding and border in width */
    padding: 10px; /* Adjust padding as needed */
}

.dimage {
    width: 100%;
    height: auto;
}

.text {
    text-align: center; /* Center text */
}

@media only screen and (max-width: 600px) {
    .dflex-item {
        width: 100%; /* Stack items on top of each other */
    }
}