
body {
    background-color: A2AAAD; 
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: 'Roboto', sans-serif;
}


.navbar {
    overflow: hidden;
    background-color: #b3c7f5; 
    display: flex;
}

.navbar a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 0px;
    text-decoration: none;
    margin: 0 10%;
    flex: 1;
    font-family: Arial, Helvetica, sans-serif, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 600; 
    font-size: 24px; 
}

.navbar a:hover {
    background-color: #ddd; /* Lighter shade for hover */
    color: #555; /* Darker text color for contrast */
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column; 
    }
    .navbar a {
        margin: 0; 
        text-align: left; 
    }

}
/* Main Image Styles */

.main-image img {
    width: 100%; 
    transition: opacity 2s ease-in-out;
    margin: 20px auto; 
    height: auto; 
    justify-content: center;
}
.main-image img { display: block; 
}

.zmain-image {
    display: flex; 
    justify-content: center; 
    align-items: center;
    width: 100%; 
    height: 100vh; 
}

.zmain-image img {
    width: 70%; 
    transition: opacity 2s ease-in-out;
    opacity: 0; 
}

.zmain-image img.fade-in {
    opacity: 1; 
}


.flex-item {
    display: flex;
    flex-direction: row; 
    justify-content: center; 
    align-items: center; 
    gap: 20px; 
    width: 100%; 
}


.image {
    width: 150px;
    height: auto;
    margin-right: 20px; 
}


.text {
    flex-grow: 1; 
    font-size: 2vw;
}


.image-container {
    display: flex;
    justify-content: space-between; 
    
}

.image-item {
    flex-basis: calc(33% - 20px); 
    text-align: center; 
}

.image-item img {
    width: 100%; 
    height: auto; 
}

.image-item p {
    margin-top: 10px; 
}


.twocontainer {
    display: flex;
    background-color: #fcedef;
    margin: 10px; 
    padding: 40px; 
}



.onecontainer {
    display: flex;
    background-color: #d4effa; 
    margin: 10px; 
    padding: 40px; 
}


.oneimage{
    width: 45%; height: auto;
}

@media (max-width: 768px) {
    .onecontainer, .flex-item {
        flex-direction: column; 
        margin-top: -10px;
    }
    .oneimage {
        width: 100%; 
    
    }
    .text {
        text-align: center; 
    }
    
    
    
}




.roboto-thin, .roboto-light, .roboto-regular, .roboto-medium, .roboto-bold, .roboto-black,
.roboto-thin-italic, .roboto-light-italic, .roboto-regular-italic, .roboto-medium-italic, .roboto-bold-italic, .roboto-black-italic {
    font-family: "Roboto", sans-serif;
}

.roboto-thin, .roboto-thin-italic { font-weight: 100; }
.roboto-light, .roboto-light-italic { font-weight: 300; }
.roboto-regular, .roboto-regular-italic { font-weight: 400; }
.roboto-medium, .roboto-medium-italic { font-weight: 500; }
.roboto-bold, .roboto-bold-italic { font-weight: 700; }
.roboto-black, .roboto-black-italic { font-weight: 900; }
.roboto-thin-italic, .roboto-light-italic, .roboto-regular-italic, .roboto-medium-italic, .roboto-bold-italic, .roboto-black-italic { font-style: italic; }

.bimage-container {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    flex-wrap: wrap; 
    background-color: #fcf6e3;


}

.bimage-item {
    width: 30%; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
}

.bimage-item img {
    width: 90%; 
    height: auto; 
    align-items: center;
}




.bimage-item {
    width: 90%; 
   
    align-items: center; 
    flex-wrap: wrap; 
    padding: 5px; 
    margin: 5px; 
    justify-content: center; 
}



@media (min-width: 768px) {
    .bimage-container {
        flex-direction: row; 
    }
    .bimage-item {
        width: 29%; 
        
    }
}

.container {
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
}

.cover-container {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 90%; 
    max-width: 1200px; 
}
.content-container {
    display: flex;
    align-items: flex-start; 
    background-color: lightgrey; 
    padding: 20px; 
}


.acontent-container {
    display: flex; 
    background-color: #f8f3e8; 
    align-items: center;
}

.amain-image {
    flex: 1; 
    text-align: center; 
}

.amain-image img {
    width: 100%; 
    height: auto; 
}

.acontent-container p {
    flex: 1; 
    padding: 12px; 
    display: flex; 
    align-items: center;
    text-align: justify; 
    justify-content: center; 
    flex-direction: row; 
    
    font-size: 2vw;
}

.text-container {
    flex: 1; 
    padding: 20px; 
    display: flex; 
    align-items: center; 
    justify-content: center;
    flex-direction: column; 
    text-align: center; 
}
@media (max-width: 768px) {
    .acontent-container {
        flex-direction: column; 
    }
    .acontent-container p {
        font-size: 3vw;
    }
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}


.flex-item {
    display: flex;
    align-items: center;
    margin: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Optional: Adds a shadow for better visibility */
    background-color: #d7d7f5;
}


.image {
    width: 30%; 
    height: auto;
    margin-right: 10px; 
}


.text {
    flex: 1; 
}


@media (max-width: 600px) {
    .flex-item {
        flex-direction: column; 
    }

    .image {
        margin: 0 auto 50px; 
        width: 50%;
        height: auto;
    }
}
.dcontainer {
    display: flex;
    flex-wrap: wrap;
}

.dflex-item {
    width: 50%; 
    box-sizing: border-box; 
    padding: 10px; 
}

.dimage {
    width: 100%;
    height: auto;
}

.text {
    text-align: center; 
}

@media only screen and (max-width: 600px) {
    .dflex-item {
        width: 100%; 
    }
}