

h1 {color: blueviolet;
    font-size: 200%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
p {color:#5f9ea0;}
p a{color:blue}
tr {color:brown}
.even {color:blueviolet}
li {color:rgb(103, 148, 212)}
caption {color:greenyellow}
h2 {color:rgb(41, 128, 157);
font-size: 150%;}
span {color:rgb(35, 109, 161)}
/*called a decendent selector*/

#second {color:chartreuse;}